<div class="jumbotron mt-4">
    <h1 class="display-4">Glossary</h1>
    <br>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel possimus quo praesentium quas laborum vero modi tempore sint iste molestiae, alias aspernatur quia ducimus quam architecto atque, earum nulla. Sunt.</p>
</div>
<div id="all" class="card">
    <h5 class="card-header">Activities</h5>
      <div class="card-body">
      <h5 class="card-title">Allergenic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Allergenic}}{{/each}}</p>    
      <h5 class="card-title">Anticancer:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Anticancer}}{{/each}}</p>    
      <h5 class="card-title">Anti Gram-:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' AntiGramL}}{{/each}}</p>    
      <h5 class="card-title">AntiGramP:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' AntiGramP}}{{/each}}</p>    
      <h5 class="card-title">AntiHIV:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' AntiHIV}}{{/each}}</p>    
      <h5 class="card-title">AntiMRSA:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' AntiMRSA}}{{/each}}</p>    
      <h5 class="card-title">AntiTB:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' AntiTB}}{{/each}}</p>    
      <h5 class="card-title">AntiHSV:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' AntiHSV}}{{/each}}</p>    
      <h5 class="card-title">Antibacterial/antibiotic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antibacterialantibiotic}}{{/each}}</p>    
      <h5 class="card-title">Antibiofilm:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antibiofilm}}{{/each}}</p>    
      <h5 class="card-title">Antidiabetic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antidiabetic}}{{/each}}</p>    
      <h5 class="card-title">Antifungal:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antifungal}}{{/each}}</p>    
      <h5 class="card-title">Antihypertensive:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antihypertensive}}{{/each}}</p>    
      <h5 class="card-title">Antiinflammatory:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antiinflammatory}}{{/each}}</p>    
      <h5 class="card-title">Antilisterial:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antilisterial}}{{/each}}</p>    
      <h5 class="card-title">Antimalarialantiplasmodial:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antimalarialantiplasmodial}}{{/each}}</p>    
      <h5 class="card-title">Antimicrobial:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antimicrobial}}{{/each}}</p>    
      <h5 class="card-title">Antinociceptive:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antinociceptive}}{{/each}}</p>    
      <h5 class="card-title">Antioncogenic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antioncogenic}}{{/each}}</p>    
      <h5 class="card-title">Antioxidant:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antioxidant}}{{/each}}</p>    
      <h5 class="card-title">Antiparasitic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antiparasitic}}{{/each}}</p>    
      <h5 class="card-title">Antiprotozoal:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antiprotozoal}}{{/each}}</p>    
      <h5 class="card-title">Antitumour:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antitumour}}{{/each}}</p>    
      <h5 class="card-title">Antiviral:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antiviral}}{{/each}}</p>    
      <h5 class="card-title">Antiyeast:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Antiyeast}}{{/each}}</p>    
      <h5 class="card-title">Bacteriocins:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Bacteriocins}}{{/each}}</p>    
      <h5 class="card-title">Bioactive:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Bioactive}}{{/each}}</p>    
      <h5 class="card-title">Blood-brain barrier crossing:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Bloodbrainbarriercrossing}}{{/each}}</p>    
      <h5 class="card-title">Brain peptide:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Brainpeptide}}{{/each}}</p>    
      <h5 class="card-title">Cancer cell:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Cancercell}}{{/each}}</p>    
      <h5 class="card-title">Cell-cell comunication:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Cellcellcomunication}}{{/each}}</p>    
      <h5 class="card-title">Cell degranulating:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Celldegranulating}}{{/each}}</p>    
      <h5 class="card-title">Cell-penetrating:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Cellpenetrating}}{{/each}}</p>    
      <h5 class="card-title">Chemotactic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Chemotactic}}{{/each}}</p>    
      <h5 class="card-title">Cytolytic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Cytolytic}}{{/each}}</p>    
      <h5 class="card-title">Defense:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Defense}}{{/each}}</p>    
      <h5 class="card-title">Anuro defense:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Anurodefense}}{{/each}}</p>    
      <h5 class="card-title">Drug delivery vehicle:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Drugdeliveryvehicle}}{{/each}}</p>    
      <h5 class="card-title">Enzyme inhibitor:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Enzymeinhibitor}}{{/each}}</p>    
      <h5 class="card-title">Hemolytic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Hemolytic}}{{/each}}</p>    
      <h5 class="card-title">Hormonal:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Hormonal}}{{/each}}</p>    
      <h5 class="card-title">Immunomodulatory:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Immunomodulatory}}{{/each}}</p>    
      <h5 class="card-title">Insecticidal:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Insecticidal}}{{/each}}</p>    
      <h5 class="card-title">Mammalian cell:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Mammaliancell}}{{/each}}</p>    
      <h5 class="card-title">Metabolic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Metabolic}}{{/each}}</p>    
      <h5 class="card-title">Neuro_peptide:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Neuropeptide}}{{/each}}</p>    
      <h5 class="card-title">Neurological activity:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Neurologicalactivity}}{{/each}}</p>    
      <h5 class="card-title">Propeptide:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Propeptide}}{{/each}}</p>    
      <h5 class="card-title">Proteolytic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Proteolytic}}{{/each}}</p>    
      <h5 class="card-title">Quorum sensing:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Quorumsensing}}{{/each}}</p>    
      <h5 class="card-title">Regulatory activity:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Regulatoryactivity}}{{/each}}</p>    
      <h5 class="card-title">Sensorial:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Sensorial}}{{/each}}</p>    
      <h5 class="card-title">Signal:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Signal}}{{/each}}</p>    
      <h5 class="card-title">Sodium channel blocker:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Sodiumchannelblocker}}{{/each}}</p>    
      <h5 class="card-title">Spermicidal:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Spermicidal}}{{/each}}</p>    
      <h5 class="card-title">Surface-immobilized:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Surfaceimmobilized}}{{/each}}</p>    
      <h5 class="card-title">Therapeutic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Therapeutic}}{{/each}}</p>    
      <h5 class="card-title">Toxic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Toxic}}{{/each}}</p>    
      <h5 class="card-title">Transit:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Transit}}{{/each}}</p>    
      <h5 class="card-title">Wound healing:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Woundhealing}}{{/each}}</p>    
      <h5 class="card-title">Immunological activity:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Immunologicalactivity}}{{/each}}</p>    
      <h5 class="card-title">Non activity:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Nonactivity}}{{/each}}</p>    
      <h5 class="card-title">Other activity:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Otheractivity}}{{/each}}</p>    
      <h5 class="card-title">AntiAngiogenic:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' AntiAngiogenic}}{{/each}}</p>    
      </div>
    <h5 class="card-header">Properties</h5>
      <div class="card-body">
      <h5 class="card-title">molecular_weight:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Molecularweight}}{{/each}}</p>    
      <h5 class="card-title">charge:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Charge}}{{/each}}</p>       
      <h5 class="card-title">charge_density:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Chargedensity}}{{/each}}</p>       
      <h5 class="card-title">isoelectric_point:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Isoelectricpoint}}{{/each}}</p>       
      <h5 class="card-title">inestability:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Inestability}}{{/each}}</p>       
      <h5 class="card-title">aromaticity:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Aromaticity}}{{/each}}</p>       
      <h5 class="card-title">aliphatic_index:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Aliphaticindex}}{{/each}}</p>       
      <h5 class="card-title">hydrophobic_ratio:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Hydrophobicratio}}{{/each}}</p>       
      <h5 class="card-title">hydrophobicity_profile:</h5>
      <p class="card-text">{{#each statistics}}{{calculation Name 'Glossary' Hydrophobicityprofile}}{{/each}}</p>       
      </div>
</div>
