<div class="jumbotron mt-4">
    <h1 class="display-4">Glossary</h1>
    <br>
    <p class="lead">To facilitate the understanding of the results presented in our platform and increase the usability of Peptipedia, we have a glossary of the key concepts that are used most frequently and that serve as support to understand and analyze the results obtained using the tools of the proposed system in this project.</p>
</div>
<div id="all" class="card">
    <h5 class="card-header">Activities</h5>
      <div class="card-body">
      <ul>
        <li class="mb-2"><b>Allergenic</b>: {{#each statistics}}{{calculation Name 'Glossary' Allergenic}}{{/each}}</li>
        <li class="mb-2"><b>Anticancer</b>: {{#each statistics}}{{calculation Name 'Glossary' Anticancer}}{{/each}}</li>
        <li class="mb-2"><b>Anti Gram (-)</b>: {{#each statistics}}{{calculation Name 'Glossary' AntiGramL}}{{/each}}</li>
        <li class="mb-2"><b>Anti Gram (+)</b>: {{#each statistics}}{{calculation Name 'Glossary' AntiGramP}}{{/each}}</li>
        <li class="mb-2"><b>AntiHIV</b>: {{#each statistics}}{{calculation Name 'Glossary' AntiHIV}}{{/each}}</li>
        <li class="mb-2"><b>AntiMRSA</b>: {{#each statistics}}{{calculation Name 'Glossary' AntiMRSA}}{{/each}}</li>
        <li class="mb-2"><b>AntiTB</b>: {{#each statistics}}{{calculation Name 'Glossary' AntiTB}}{{/each}}</li>
        <li class="mb-2"><b>AntiHSV</b>: {{#each statistics}}{{calculation Name 'Glossary' AntiHSV}}{{/each}}</li>
        <li class="mb-2"><b>Antibacterial / Antibiotic</b>: {{#each statistics}}{{calculation Name 'Glossary' Antibacterialantibiotic}}{{/each}}</li>
        <li class="mb-2"><b>Antibiofilm</b>: {{#each statistics}}{{calculation Name 'Glossary' Antibiofilm}}{{/each}}</li>
        <li class="mb-2"><b>Antidiabetic</b>: {{#each statistics}}{{calculation Name 'Glossary' Antidiabetic}}{{/each}}</li>
        <li class="mb-2"><b>Antifungal</b>: {{#each statistics}}{{calculation Name 'Glossary' Antifungal}}{{/each}}</li>
        <li class="mb-2"><b>Antihypertensive</b>: {{#each statistics}}{{calculation Name 'Glossary' Antihypertensive}}{{/each}}</li>
        <li class="mb-2"><b>Antiinflammatory</b>: {{#each statistics}}{{calculation Name 'Glossary' Antiinflammatory}}{{/each}}</li>
        <li class="mb-2"><b>Antilisterial</b>: {{#each statistics}}{{calculation Name 'Glossary' Antilisterial}}{{/each}}</li>
        <li class="mb-2"><b>Antimalarial / Antiplasmodial</b>: {{#each statistics}}{{calculation Name 'Glossary' Antimalarialantiplasmodial}}{{/each}}</li>
        <li class="mb-2"><b>Antimicrobial</b>: {{#each statistics}}{{calculation Name 'Glossary' Antimicrobial}}{{/each}}</li>
        <li class="mb-2"><b>Antinociceptive</b>: {{#each statistics}}{{calculation Name 'Glossary' Antinociceptive}}{{/each}}</li>
        <li class="mb-2"><b>Antioncogenic</b>: {{#each statistics}}{{calculation Name 'Glossary' Antioncogenic}}{{/each}}</li>
        <li class="mb-2"><b>Antioxidant</b>: {{#each statistics}}{{calculation Name 'Glossary' Antioxidant}}{{/each}}</li>
        <li class="mb-2"><b>Antiparasitic</b>: {{#each statistics}}{{calculation Name 'Glossary' Antiparasitic}}{{/each}}</li>
        <li class="mb-2"><b>Antiprotozoal</b>: {{#each statistics}}{{calculation Name 'Glossary' Antiprotozoal}}{{/each}}</li>
        <li class="mb-2"><b>Antitumour</b>: {{#each statistics}}{{calculation Name 'Glossary' Antitumour}}{{/each}}</li>
        <li class="mb-2"><b>Antiviral</b>: {{#each statistics}}{{calculation Name 'Glossary' Antiviral}}{{/each}}</li>
        <li class="mb-2"><b>Antiyeast</b>: {{#each statistics}}{{calculation Name 'Glossary' Antiyeast}}{{/each}}</li>
        <li class="mb-2"><b>Bacteriocins</b>: {{#each statistics}}{{calculation Name 'Glossary' Bacteriocins}}{{/each}}</li>
        <li class="mb-2"><b>Bioactive</b>: {{#each statistics}}{{calculation Name 'Glossary' Bioactive}}{{/each}}</li>
        <li class="mb-2"><b>Blood-brain barrier crossing</b>: {{#each statistics}}{{calculation Name 'Glossary' Bloodbrainbarriercrossing}}{{/each}}</li>
        <li class="mb-2"><b>Brain peptide</b>: {{#each statistics}}{{calculation Name 'Glossary' Brainpeptide}}{{/each}}</li>
        <li class="mb-2"><b>Cancer cell</b>: {{#each statistics}}{{calculation Name 'Glossary' Cancercell}}{{/each}}</li>
        <li class="mb-2"><b>Cell-cell comunication</b>: {{#each statistics}}{{calculation Name 'Glossary' Cellcellcomunication}}{{/each}}</li>
        <li class="mb-2"><b>Cell degranulating</b>: {{#each statistics}}{{calculation Name 'Glossary' Celldegranulating}}{{/each}}</li>
        <li class="mb-2"><b>Cell-penetrating</b>: {{#each statistics}}{{calculation Name 'Glossary' Cellpenetrating}}{{/each}}</li>
        <li class="mb-2"><b>Chemotactic</b>: {{#each statistics}}{{calculation Name 'Glossary' Chemotactic}}{{/each}}</li>
        <li class="mb-2"><b>Cytolytic</b>: {{#each statistics}}{{calculation Name 'Glossary' Cytolytic}}{{/each}}</li>
        <li class="mb-2"><b>Defense</b>: {{#each statistics}}{{calculation Name 'Glossary' Defense}}{{/each}}</li>
        <li class="mb-2"><b>Anuro defense</b>: {{#each statistics}}{{calculation Name 'Glossary' Anurodefense}}{{/each}}</li>
        <li class="mb-2"><b>Drug delivery vehicle</b>: {{#each statistics}}{{calculation Name 'Glossary' Drugdeliveryvehicle}}{{/each}}</li>
        <li class="mb-2"><b>Enzyme inhibitor</b>: {{#each statistics}}{{calculation Name 'Glossary' Enzymeinhibitor}}{{/each}}</li>
        <li class="mb-2"><b>Hemolytic</b>: {{#each statistics}}{{calculation Name 'Glossary' Hemolytic}}{{/each}}</li>
        <li class="mb-2"><b>Hormonal</b>: {{#each statistics}}{{calculation Name 'Glossary' Hormonal}}{{/each}}</li>
        <li class="mb-2"><b>Immunomodulatory</b>: {{#each statistics}}{{calculation Name 'Glossary' Immunomodulatory}}{{/each}}</li>
        <li class="mb-2"><b>Insecticidal</b>: {{#each statistics}}{{calculation Name 'Glossary' Insecticidal}}{{/each}}</li>
        <li class="mb-2"><b>Mammalian cell</b>: {{#each statistics}}{{calculation Name 'Glossary' Mammaliancell}}{{/each}}</li>
        <li class="mb-2"><b>Metabolic</b>: {{#each statistics}}{{calculation Name 'Glossary' Metabolic}}{{/each}}</li>
        <li class="mb-2"><b>Neuro_peptide</b>: {{#each statistics}}{{calculation Name 'Glossary' Neuropeptide}}{{/each}}</li>
        <li class="mb-2"><b>Neurological</b>: {{#each statistics}}{{calculation Name 'Glossary' Neurologicalactivity}}{{/each}}</li>
        <li class="mb-2"><b>Propeptide</b>: {{#each statistics}}{{calculation Name 'Glossary' Propeptide}}{{/each}}</li>
        <li class="mb-2"><b>Proteolytic</b>: {{#each statistics}}{{calculation Name 'Glossary' Proteolytic}}{{/each}}</li>
        <li class="mb-2"><b>Quorum sensing</b>: {{#each statistics}}{{calculation Name 'Glossary' Quorumsensing}}{{/each}}</li>
        <li class="mb-2"><b>Regulatory</b>: {{#each statistics}}{{calculation Name 'Glossary' Regulatoryactivity}}{{/each}}</li>
        <li class="mb-2"><b>Sensorial</b>: {{#each statistics}}{{calculation Name 'Glossary' Sensorial}}{{/each}}</li>
        <li class="mb-2"><b>Signal</b>: {{#each statistics}}{{calculation Name 'Glossary' Signal}}{{/each}}</li>
        <li class="mb-2"><b>Sodium channel blocker</b>: {{#each statistics}}{{calculation Name 'Glossary' Sodiumchannelblocker}}{{/each}}</li>
        <li class="mb-2"><b>Spermicidal</b>: {{#each statistics}}{{calculation Name 'Glossary' Spermicidal}}{{/each}}</li>
        <li class="mb-2"><b>Surface-immobilized</b>: {{#each statistics}}{{calculation Name 'Glossary' Surfaceimmobilized}}{{/each}}</li>
        <li class="mb-2"><b>Therapeutic</b>: {{#each statistics}}{{calculation Name 'Glossary' Therapeutic}}{{/each}}</li>
        <li class="mb-2"><b>Toxic</b>: {{#each statistics}}{{calculation Name 'Glossary' Toxic}}{{/each}}</li>
        <li class="mb-2"><b>Transit</b>: {{#each statistics}}{{calculation Name 'Glossary' Transit}}{{/each}}</li>
        <li class="mb-2"><b>Wound healing</b>: {{#each statistics}}{{calculation Name 'Glossary' Woundhealing}}{{/each}}</li>
        <li class="mb-2"><b>Immunological</b>: {{#each statistics}}{{calculation Name 'Glossary' Immunologicalactivity}}{{/each}}</li>
        <li class="mb-2"><b>Non activity</b>: {{#each statistics}}{{calculation Name 'Glossary' Nonactivity}}{{/each}}</li>
        <li class="mb-2"><b>Other activity</b>: {{#each statistics}}{{calculation Name 'Glossary' Otheractivity}}{{/each}}</li>
        <li><b>AntiAngiogenic</b>: {{#each statistics}}{{calculation Name 'Glossary' AntiAngiogenic}}{{/each}}</li>
      </ul>
      </div>
    <h5 class="card-header">Properties</h5>
      <div class="card-body">
      <ul>
        <li class="mb-2"><b>Molecular weight</b>: {{#each statistics}}{{calculation Name 'Glossary' Molecularweight}}{{/each}}</li>
        <li class="mb-2"><b>Charge</b>: {{#each statistics}}{{calculation Name 'Glossary' Charge}}{{/each}}</li>
        <li class="mb-2"><b>Charge density</b>: {{#each statistics}}{{calculation Name 'Glossary' Chargedensity}}{{/each}}</li>
        <li class="mb-2"><b>Isoelectric point</b>: {{#each statistics}}{{calculation Name 'Glossary' Isoelectricpoint}}{{/each}}</li>
        <li class="mb-2"><b>Inestability</b>: {{#each statistics}}{{calculation Name 'Glossary' Inestability}}{{/each}}</li>
        <li class="mb-2"><b>Aromaticity</b>: {{#each statistics}}{{calculation Name 'Glossary' Aromaticity}}{{/each}}</li>
        <li class="mb-2"><b>Aliphatic index</b>: {{#each statistics}}{{calculation Name 'Glossary' Aliphaticindex}}{{/each}}</li>
        <li class="mb-2"><b>Hydrophobic ratio</b>: {{#each statistics}}{{calculation Name 'Glossary' Hydrophobicratio}}{{/each}}</li>
        <li><b>Hydrophobicity profile</b>: {{#each statistics}}{{calculation Name 'Glossary' Hydrophobicityprofile}}{{/each}}</li>
      </ul> 
      </div>
</div>
