<link href="css/bstreeview.css" rel="stylesheet">

<div id="all" class="card">
    <h5 class="card-header">Secuence information</h5>
    <div class="card-body">
    {{#each peptides}}{{#if sequence}}<h5 class="card-title">Sequence:</h5><p class="card-text">{{'sequence'}}</p>{{else}}<h5 class="card-title">Sequence:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if sequence_id}}<h5 class="card-title">Sequence ID:</h5><p class="card-text">{{'sequence_id'}}</p>{{else}}<h5 class="card-title">Sequence ID:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if length}}<h5 class="card-title">Length:</h5><p class="card-text">{{'length'}}</p>{{else}}<h5 class="card-title">Length:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if molecular_weigth}}<h5 class="card-title">Molecular weigth:</h5><p class="card-text">{{'molecular_weigth'}}</p>{{else}}<h5 class="card-title">Molecular weigth:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if isoelectric}}<h5 class="card-title">Isoelectric:</h5><p class="card-text">{{'isoelectric'}}</p>{{else}}<h5 class="card-title">Isoelectric:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if peptide_name}}<h5 class="card-title">Peptide name:</h5><p class="card-text">{{'peptide_name'}}</p>{{else}}<h5 class="card-title">Peptide name:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if charge}}<h5 class="card-title">Charge:</h5><p class="card-text">{{'charge'}}</p>{{else}}<h5 class="card-title">Charge:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if charge_density}}<h5 class="card-title">Charge density:</h5><p class="card-text">{{'charge_density'}}</p>{{else}}<h5 class="card-title">Charge density:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
	{{#each peptides}}{{#if is_modified}}<h5 class="card-title">Is modified:</h5><p class="card-text">{{'is_modified'}}</p>{{else}}<h5 class="card-title">Is modified:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    </div>
    <h5 class="card-header">Properties information</h5>
    <div class="card-body">
    {{#each peptides}}{{#if inestability}}<h5 class="card-title">Inestability:</h5><p class="card-text">{{'inestability'}}</p>{{else}}<h5 class="card-title">Inestability:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if aromaticity}}<h5 class="card-title">Aromaticity:</h5><p class="card-text">{{'aromaticity'}}</p>{{else}}<h5 class="card-title">Aromaticity:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if aliphatic_index}}<h5 class="card-title">Aliphatic index:</h5><p class="card-text">{{'aliphatic_index'}}</p>{{else}}<h5 class="card-title">Aliphatic index:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if hydrophobic_ratio}}<h5 class="card-title">Hydrophobic ratio:</h5><p class="card-text">{{'hydrophobic_ratio'}}</p>{{else}}<h5 class="card-title">Hydrophobic ratio:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if hydrophobicity_profile}}<h5 class="card-title">Hydrophobicity profile:</h5><p class="card-text">{{'hydrophobicity_profile'}}</p>{{else}}<h5 class="card-title">Hydrophobicity profile:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if hydrophobic_profile}}<h5 class="card-title">Hydrophobic profile:</h5><p class="card-text">{{'hydrophobic_profile'}}</p>{{else}}<h5 class="card-title">Hydrophobic profile:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    </div>
    <h5 class="card-header">Taxonomy</h5>
    <div class="card-body">
    {{#each peptides}}{{#if organism}}<h5 class="card-title">Organism:</h5><p class="card-text">{{'organism'}}</p>{{else}}<h5 class="card-title">Organism:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if gene}}<h5 class="card-title">Gene:</h5><p class="card-text">{{'gene'}}</p>{{else}}<h5 class="card-title">Gene:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if ic50}}<h5 class="card-title">IC50:</h5><p class="card-text">{{'ic50'}}</p>{{else}}<h5 class="card-title">IC50:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if source}}<h5 class="card-title">Source:</h5><p class="card-text">{{'source'}}</p>{{else}}<h5 class="card-title">Source:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if method}}<h5 class="card-title">Method:</h5><p class="card-text">{{'method'}}</p>{{else}}<h5 class="card-title">Method:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if assay}}<h5 class="card-title">Assay:</h5><p class="card-text">{{'assay'}}</p>{{else}}<h5 class="card-title">Assay:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    {{#each peptides}}{{#if FDA_validated}}<h5 class="card-title">FDA validated:</h5><p class="card-text">{{'FDA_validated'}}</p>{{else}}<h5 class="card-title">FDA validated:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
	</div>
    <h5 class="card-header">Activities tree</h5>
    <div class="card-body">
    <div id="tree"></div>
    </div>
	<h5 class="card-header">Databases where it was extracted</h5>
    	<div class="card-body">
			
			{{#each peptides}}{{#if in_uniprot}}<h5 id="h_in_uniprot" class="card-title">Uniprot:</h5><p id="p_in_uniprot" class="card-text">{{found_in in_uniprot}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_AHTPDB}}<h5 id="h_in_AHTPDB" class="card-title">AHTPDB:</h5><p id="p_in_AHTPDB" class="card-text">{{found_in in_AHTPDB}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_HIVPDB}}<h5 id="h_in_HIVPDB" class="card-title">HIVPDB:</h5><p id="p_in_HIVPDB" class="card-text">{{found_in in_HIVPDB}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_tumor_hope}}<h5 id="h_in_tumor_hope" class="card-title">Tumor Hope:</h5><p id="p_in_tumor_hope" class="card-text">{{found_in in_tumor_hope}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_cpp_database}}<h5 id="h_in_cpp_database" class="card-title">CPP Database:</h5><p id="p_in_cpp_database" class="card-text">{{found_in in_cpp_database}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_AMP3}}<h5 id="h_in_AMP3" class="card-title">AMP3:</h5><p id="p_in_AMP3" class="card-text">{{found_in in_AMP3}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_AVP_DB}}<h5 id="h_in_AVP_DB" class="card-title">AVP DB:</h5><p id="p_in_AVP_DB" class="card-text">{{found_in in_AVP_DB}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_baamps}}<h5 id="h_in_baamps" class="card-title">Baamps:</h5><p id="p_in_baamps" class="card-text">{{found_in in_baamps}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_Bactibase}}<h5 id="h_in_Bactibase" class="card-title">Bactibase:</h5><p id="p_in_Bactibase" class="card-text">{{found_in in_Bactibase}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_brain_peps}}<h5 id="h_in_brain_peps" class="card-title">Brain Peps:</h5><p id="p_in_brain_peps" class="card-text">{{found_in in_brain_peps}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_DBAASP}}<h5 id="h_in_DBAASP" class="card-title">DBAASP:</h5><p id="p_in_DBAASP" class="card-text">{{found_in in_DBAASP}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_SATPDB}}<h5 id="h_in_SATPDB" class="card-title">SATPDB:</h5><p id="p_in_SATPDB" class="card-text">{{found_in in_SATPDB}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_LAMP}}<h5 id="h_in_LAMP" class="card-title">LAMP:</h5><p id="p_in_LAMP" class="card-text">{{found_in in_LAMP}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_neuropedia}}<h5 id="h_in_neuropedia" class="card-title">Neuropedia:</h5><p id="p_in_neuropedia" class="card-text">{{found_in in_neuropedia}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_CAMP}}<h5 id="h_in_CAMP" class="card-title">CAMP:</h5><p id="p_in_CAMP" class="card-text">{{found_in in_CAMP}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_defense_anuro_db}}<h5 id="h_in_defense_anuro_db" class="card-title">Defense Anuro DB:</h5><p id="p_in_defense_anuro_db" class="card-text">{{found_in in_defense_anuro_db}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_DRAMP}}<h5 id="h_in_DRAMP" class="card-title">DRAMP:</h5><p id="p_in_DRAMP" class="card-text">{{found_in in_DRAMP}}</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if in_thpdb}}<h5 id="h_in_thpdb" class="card-title">Thpdb:</h5><p id="p_in_thpdb" class="card-text">{{found_in in_thpdb}}</p>{{/if}}{{/each}}
    	</div>
	<h5 class="card-header">Codes</h5>
    	<div class="card-body">
			{{#each peptides}}{{#if uniprot_code}}<h5 class="card-title">UNIPROT Code:</h5><p class="card-text"><a id="link_uniprot" href="https://www.uniprot.org/uniprot/{{codes uniprot_code}}" target="_blank">{{codes uniprot_code}}</a></p>{{else}}<h5 class="card-title">UNIPROT Code:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
			{{#each peptides}}{{#if pdb_code}}<h5 class="card-title">PDB Code:</h5><p class="card-text"><a id="link_pdb" href="https://www.rcsb.org/structure/{{codes pdb_code}}" target="_blank">{{codes pdb_code}}</a></p>{{else}}<h5 class="card-title">PDB Code:</h5><p class="card-text">Not Found</p>{{/if}}{{/each}}
    	</div>
    </div>
</div>
<script src="js/bstreeview.js"></script>
<script>
	
			var json = [
				{	
					id: "Antimicrobial",
					{{#each peptides}}text: "{{tree Antimicrobial 'Antimicrobial'}}{{/each}}",
					nodes: [
						{
							id: "Antifungal",
							{{#each peptides}}text: "{{tree Antifungal 'Antifungal'}}{{/each}}",
							nodes: [
								{
									id: "AntiYeast",
									{{#each peptides}}text: "{{tree Anti Yeast 'Anti Yeast'}}{{/each}}",
								}
							]
						},
						{
							id: "Antibacterial",
							{{#each peptides}}text: "{{tree Antibacterial 'Antibacterial'}}{{/each}}",
                            nodes: [
								{
									id: "AntiGramM",
									{{#each peptides}}text: "{{tree Anti Gram ('-') 'Anti Gram (-)'}}{{/each}}",
								},
								{
									id: "AntiGramP",
									{{#each peptides}}text: "{{tree Anti Gram ('+') 'Anti Gram (+)'}}{{/each}}",
								},
                                {
									id: "Bacteriocins",
									{{#each peptides}}text: "{{tree Bacteriocins 'Bacteriocins'}}{{/each}}",
								},
                                {
									id: "AntiTuberculosis",
									{{#each peptides}}text: "{{tree Anti Tuberculosis 'Anti Tuberculosis'}}{{/each}}",
								},
                                {
									id: "Antibiofilm",
									{{#each peptides}}text: "{{tree Antibiofilm 'Antibiofilm'}}{{/each}}",
								},
							]
						},
						{
							id: "AnuroDefense",
							{{#each peptides}}text: "{{tree Anuro defense 'Anuro defense'}}{{/each}}",
						},
						{
							id: "Antiprotozoal",
							{{#each peptides}}text: "{{tree Antiprotozoal 'Antiprotozoal'}}{{/each}}",
                            nodes: [
								{
									id: "AntimalarialAntiplasmodial",
									{{#each peptides}}text: "{{tree Antimalarial/Antiplasmodial 'Antimalarial/Antiplasmodial'}}{{/each}}",
								}
							]
						},
						{
							id: "Antiviral",
							{{#each peptides}}text: "{{tree Antiviral 'Antiviral'}}{{/each}}",
                            nodes: [
								{
									id: "AntiHIV",
									{{#each peptides}}text: "{{tree Anti HIV 'Anti HIV'}}{{/each}}",
								},
                                {
									id: "AntiHSV",
									{{#each peptides}}text: "{{tree Anti HSV 'Anti HSV'}}{{/each}}",
								}
							]
						}
					]
				},
				{
					id: "Anticancer",
					{{#each peptides}}text: "{{tree Anticancer 'Anticancer'}}{{/each}}",
					nodes: [
						{
							id: "AntiTumour",
							{{#each peptides}}text: "{{tree Anti Tumour 'Anti Tumour'}}{{/each}}",
						}
					]
				},
				{
					id: "Toxic",
					{{#each peptides}}text: "{{tree Toxic 'Toxic'}}{{/each}}",
					nodes: [
						{
							id: "Insecticidal",
							{{#each peptides}}text: "{{tree Insecticidal 'Insecticidal'}}{{/each}}",
						},
                        {
							id: "Spermicidal",
							{{#each peptides}}text: "{{tree Spermicidal 'Spermicidal'}}{{/each}}",
						},
                        {
							id: "Antiparasitic",
							{{#each peptides}}text: "{{tree Antiparasitic 'Antiparasitic'}}{{/each}}",
						},
                        {
							id: "Cytolytic",
							{{#each peptides}}text: "{{tree Cytolytic 'Cytolytic'}}{{/each}}",
                            nodes: [
								{
									id: "Hemolytic",
									{{#each peptides}}text: "{{tree Hemolytic 'Hemolytic'}}{{/each}}",
								}
							]
						}
					]
				},
				{
					id: "Metabolic",
					{{#each peptides}}text: "{{tree Metabolic 'Metabolic'}}{{/each}}",
					nodes: [
						{
							id: "AntiInflammatory",
							{{#each peptides}}text: "{{tree Anti inflammatory 'Anti inflammatory'}}{{/each}}",
						},
                        {
							id: "AntiHypertensive",
							{{#each peptides}}text: "{{tree Anti hypertensive 'Anti hypertensive'}}{{/each}}",
						},
                        {
							id: "EnzymeInhibitor",
							{{#each peptides}}text: "{{tree Enzyme inhibitor 'Enzyme inhibitor'}}{{/each}}",
						}
					]
				},
				{
					id: "Bioactive",
					{{#each peptides}}text: "{{tree Bioactive 'Bioactive'}}{{/each}}",
					nodes: [
						{
							id: "Antioxidant",
							{{#each peptides}}text: "{{tree Antioxidant 'Antioxidant'}}{{/each}}",
						}					
					]
				},
				{
					id: "Immnulogical",
					{{#each peptides}}text: "{{tree Immnulogical 'Immnulogical'}}{{/each}}",
					nodes: [
						{
							id: "Innmunomodulatory",
							{{#each peptides}}text: "{{tree Innmunomodulatory 'Innmunomodulatory'}}{{/each}}",
							nodes: [
								{
									id: "WoundHealing",
									{{#each peptides}}text: "{{tree Wound healing 'Wound healing'}}{{/each}}",
								}
							]
						},
						{
							id: "CellDegranulating",
							{{#each peptides}}text: "{{tree Cell degranulating 'Cell degranulating'}}{{/each}}",
						}				
					]
				},
				{
					id: "Sensorial",
					{{#each peptides}}text: "{{tree Sensorial 'Sensorial'}}{{/each}}",
					nodes: [
						{
							id: "QuorumSensing",
							{{#each peptides}}text: "{{tree Quorum sensing 'Quorum sensing'}}{{/each}}",
						},
						{
							id: "Chemotactic",
							{{#each peptides}}text: "{{tree Chemotactic 'Chemotactic'}}{{/each}}",
						},
						{
							id: "CellCellCommunication",
							{{#each peptides}}text: "{{tree Cell-cell communication 'Cell-cell communication'}}{{/each}}",
						},
						{
							id: "Defense",
							{{#each peptides}}text: "{{tree Defense 'Defense'}}{{/each}}",
						}
					]
				},
				{
					id: "Neurological",
					{{#each peptides}}text: "{{tree Neurological 'Neurological'}}{{/each}}",
					nodes: [
						{
							id: "Antinociceptive",
							{{#each peptides}}text: "{{tree Antinociceptive 'Antinociceptive'}}{{/each}}",
						},
						{
							id: "BrainPeptide",
							{{#each peptides}}text: "{{tree Brain peptide 'Brain peptide'}}{{/each}}",
						},
						{
							id: "Neuropeptide",
							{{#each peptides}}text: "{{tree Neuropeptide 'Neuropeptide'}}{{/each}}",
						},
						{
							id: "DrugDeliveryVehicle",
							{{#each peptides}}text: "{{tree Drug delivery vehicle 'Drug delivery vehicle'}}{{/each}}",
						},
						{
							id: "CellPenetrating",
							{{#each peptides}}text: "{{tree Cell-penetrating 'Cell-penetrating'}}{{/each}}",
						}
					]
				},
				{
					id: "SignalPeptide",
					{{#each peptides}}text: "{{tree Signal Peptide 'Signal Peptide'}}{{/each}}",
				},
				{
					id: "Transit",
					{{#each peptides}}text: "{{tree Transit 'Transit'}}{{/each}}",
				},
				{
					id: "Propeptide",
					{{#each peptides}}text: "{{tree Propeptide 'Propeptide'}}{{/each}}",
				},
				{
					id: "Other",
					{{#each peptides}}text: "{{tree Other 'Other'}}{{/each}}",
					nodes: [
						{
							id: "CancerCell",
							{{#each peptides}}text: "{{tree Cancer cell 'Cancer cell'}}{{/each}}",
						},
						{
							id: "MammallianCell",
							{{#each peptides}}text: "{{tree Mammallian cell 'Mammallian cell'}}{{/each}}",
						},
						{
							id: "Proteolytic",
							{{#each peptides}}text: "{{tree Proteolytic 'Proteolytic'}}{{/each}}",
						},
						{
							id: "SurfaceImmobilized",
							{{#each peptides}}text: "{{tree Surface-immobilized 'Surface-immobilized'}}{{/each}}",
						},
						{
							id: "MilkPeptide",
							{{#each peptides}}text: "{{tree Milk Peptide 'Milk Peptide'}}{{/each}}",
						}
					]
				},
			];

			$('#tree').bstreeview({
				data: json,
                expandIcon: 'fa fa-angle-down fa-fw',
                collapseIcon: 'fa fa-angle-right fa-fw',
                indent: 1.25,
                parentsMarginLeft: '1.25rem',
                openNodeLinkOnNewTab: true
			});
			
			
			dbs = ['in_uniprot', 'in_AHTPDB', 'in_HIVPDB', 'in_tumor_hope', 'in_cpp_database', 'in_AMP3', 'in_AVP_DB', 'in_baamps', 'in_Bactibase', 'in_brain_peps', 'in_DBAASP', 'in_SATPDB', 'in_LAMP', 'in_neuropedia', 'in_CAMP', 'in_defense_anuro_db', 'in_DRAMP', 'in_thpdb']
			for (i = 0; i < dbs.length; i++) {
				if($('#p_'+dbs[i]).text() == "Not found"){
					$('#p_'+dbs[i]).hide();
					$('#h_'+dbs[i]).hide();
				}
			}
			var i;
			var ids = ['Antimicrobial', 'Antifungal', 'AntiYeast', 'Antibacterial', 'AntiGramM', 'AntiGramP', 'Bacteriocins', 'AntiTuberculosis', 'Antibiofilm', 'AnuroDefense', 'Antiprotozoal', 'AntimalarialAntiplasmodial', 'Antiviral', 'AntiHIV', 'AntiHSV', 'Anticancer', 'AntiTumour', 'Toxic', 'Insecticidal', 'Spermicidal', 'Antiparasitic', 'Cytolytic', 'Hemolytic', 'Metabolic', 'AntiInflammatory', 'AntiHypertensive', 'EnzymeInhibitor', 'Bioactive', 'Antioxidant', 'Immnulogical', 'Innmunomodulatory', 'WoundHealing', 'CellDegranulating', 'Sensorial', 'QuorumSensing', 'Chemotactic', 'CellCellCommunication', 'Defense', 'Neurological', 'Antinociceptive', 'BrainPeptide', 'Neuropeptide', 'DrugDeliveryVehicle', 'CellPenetrating', 'SignalPeptide', 'Transit', 'Propeptide', 'Other', 'CancerCell', 'MammallianCell', 'Proteolytic', 'SurfaceImmobilized', 'MilkPeptide']
			for (i = 0; i < ids.length; i++) {
				if($('#'+ids[i]).text() == "false"){
					$('#'+ids[i]).hide();
				}else{
					$('#'+ids[i]).click();
				}
				
			}
			if($('#link_uniprot').text() == "Not Found"){				
					$('#link_uniprot').contents().unwrap();
			}
			if($('#link_pdb').text() == "Not Found"){				
					$('#link_pdb').contents().unwrap();
			}
</script>
